.container {
    width: 100%; 
    display:flex;
    justify-content: center;
    background-color: bisque;
}
form, #test {
    display: flex; 
    flex-direction: column; 
    row-gap: 10px; 
    padding: 40px; 
    width: 700px; 
    border: 10px solid black; 
    margin-top: 0px;
}

button {
    color: white; 
    padding: 10px
}

.error {
    color: red;
    font-weight: bold;
}

.inputError {
    border-color: red;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 3px 3px gray;
}

button:disabled {
    cursor: default;
}