<ng-content></ng-content>

<div class="container">
    
    <form [formGroup]="newItemForm" (ngSubmit)="save()">

        <h1>New Item</h1>

        <label for="image"><b>Image</b></label>
        <input type="text" name="image" id="image" formControlName="itemImage">
        
        <label for="description"><b>Item Description</b></label>
        <input type="text" name="description" id="description" formControlName="description"
            [ngClass]="description?.errors?.['required'] && description?.touched ? 'inputError' : ''">
        <div *ngIf="description?.errors?.['required'] && description?.touched" class="error">
            Description is required
        </div>
        
        <label for="category"><b>Category</b></label>
        <input type="text" name="category" id="category" formControlName="category"
            [ngClass]="category?.errors?.['required'] && category?.touched ? 'inputError' : ''">
        <div *ngIf="category?.errors?.['required'] && category?.touched" class="error">
            Category is required
        </div>
        
        
        <label for="price"><b>Price</b></label>
        <input type="number" name="price" id="price" formControlName="price"
            [ngClass]="(price?.errors?.['min'] || price?.errors?.['required']) && price?.touched ? 'inputError' : ''" required>
        <div *ngIf="(price?.errors?.['min'] || price?.errors?.['required']) && price?.touched" class="error">
            Price needs to be at least $1
        </div>
        
        <label for="metal"><b>Metal</b></label>
        <input type="text" name="metal" id="metal" formControlName="metal"
            [ngClass]="metal?.errors?.['required'] && metal?.touched ? 'inputError' : ''">
        <div *ngIf="metal?.errors?.['required'] && metal?.touched" class="error">
            Metal is required
        
        </div>
        
        <div style="display: flex; justify-content: space-around; ">
            <button type="submit" value="Save" style="background-color: green; " [disabled]="!newItemForm.valid"
                [ngStyle]="{'background-color': newItemForm.valid ? 'green': 'gray'}">Save</button>
            <button type="button" style="background-color: red;" [routerLink]="'/list'">Cancel</button>
        </div>

    </form>
</div>