<!-- <ng-content></ng-content> -->

<table id="merchandise">
  <tr>
    <th>Item #</th>
    <th>Image</th>
    <th>Description</th>
    <th>Category</th>
    <th>
      <!-- This call sortByPrice() everytime you click price and sorts it based on isSorted value
           null for default, true for lowest to highest and false for highest to lowest  -->
      <span (click)="sortByPrice()" id="price">Price </span> 
      <span >{{getSort() == null ? '-' : (getSort() ? '&darr;' : '	&uarr;')}}</span>
    </th>
    <th>Metal</th>
    <th style="text-align: center;">Actions</th>
  </tr>

  <tr *ngFor="let item of itemList">
    <td>{{item.itemNumber}}</td>
    <td><img [src]="item.itemImage" alt="item image" id="image"></td>
    <td>{{item.description}}</td>
    <td>{{item.category}}</td>
    <td>{{item.price | currency}} </td>
    <td>{{item.metal}}</td>
    <td>
      <div style="display: flex; justify-content: space-around;  align-items: center; border-color: transparent;">
        <button class="button" (click)="editItem(item.itemNumber)"><i class="fa fa-edit" style="color: green"></i> Edit</button>
        <span>|</span>
        <button class="button" (click)="deleteItem(item.itemNumber)"><i class="fa fa-trash" style="color: red"></i> Delete</button>
      </div>
    </td>
   </tr>
</table>