<!-- <ng-content></ng-content> -->

<div class="container">
    <!-- checking in for errors in add  editform. Everything is filled out but if you leave a field empty
        it will ask you to enter an input except the image field that is optional. The apply changes button 
        will become disable if an error input displays. Until everything is clear then apply changes button
        will be available to press and submit the changes
    -->
    <form [formGroup]="editForm" (ngSubmit)="edit()">
        
        <!-- This get the item number of the item that will be updated and display it to the user,
             so the user will know which item is updating -->
        <h1>Edit Item {{this.editForm.get('itemNumber')?.value}}</h1>

        <!-- There is no validation for image field so it can be empty -->
        <label for="itemImage"><b>Image</b></label>
        <input type="text" name="itemImage" id="itemImage" formControlName="itemImage">

        <!-- This checks if the field is touched and is the user don't type nothing and clicks outside
             of it will throw the error message letting the user know that a description is required.
             Same way works for category, price and metal -->
        <label for="description"><b>Item Description</b></label>
        <input type="text" name="item_description" id="description" formControlName="description"
            [ngClass]="description?.errors?.['required'] && description?.touched ? 'inputError' : ''">
        <div *ngIf="description?.errors?.['required'] && description?.touched" class="error">
            Description is required
        </div>
        
        <label for="category"><b>Category</b></label>
        <input type="text" name="category" id="category" formControlName="category"
            [ngClass]="category?.errors?.['required'] && category?.touched ? 'inputError' : ''">
        <div *ngIf="category?.errors?.['required'] && category?.touched" class="error">
            Category is required
        </div>

        <!-- Price beside an empty field it will throw an error message even when the price is less than $1
             So you can not enter negative numbers and 0  to 0.99 -->
        <label for="price"><b>Price</b></label>
        <input type="number" name="price" id="price" formControlName="price"
            [ngClass]="(price?.errors?.['min'] || price?.errors?.['required']) && price?.touched ? 'inputError' : ''">
        <div *ngIf="(price?.errors?.['min'] || price?.errors?.['required']) && price?.touched" class="error">
            Price needs to be at least $1
        </div>

        <label for="metal"><b>Metal</b></label>
        <input type="text" name="metal" id="metal" formControlName="metal"
            [ngClass]="metal?.errors?.['required'] && metal?.touched ? 'inputError' : ''">
        <div *ngIf="metal?.errors?.['required'] && metal?.touched" class="error">
            Metal is required
        </div>

        <div style="display: flex; justify-content: space-around; ">
            <button type="submit" style="background-color: green; " [disabled]="!editForm.valid"
            [ngStyle]="{'background-color': editForm.valid ? 'green': 'gray'}">Apply Changes</button>
            <button type="button" style="background-color: red;" [routerLink]="'/list'">Cancel</button>
        </div>

    </form>
</div>