<!-- <ng-content></ng-content> -->

<div class="container">
    
    <form (ngSubmit)="edit(); itemForm.reset()" #itemForm>

        <h1>Edit Item</h1>

        <label for="image">Image (url)</label>
        <!-- <input type="text" name="item_image" id="image" placeholder="http://dummyimage.com/100x100.png/ff4444/ffffff" [(ngModel)]="currentItem.itemImage"> -->
        <img [src]="currentItem?.itemImage" alt="" width="100px" height="100px">

        <label for="description">Item Description</label>
        <input type="text" name="item_description" id="description" [(ngModel)]="currentItem.description">
        
        <label for="category">Category</label>
        <input type="text" name="category" id="category" [(ngModel)]="currentItem.category">

        <label for="price">Price</label>
        <input type="number" name="price" id="price" [(ngModel)]="currentItem.price">

        <label for="metal">Metal</label>
        <input type="text" name="metal" id="metal" [(ngModel)]="currentItem.metal">

        <div style="display: flex; justify-content: space-around; ">
            <button type="submit" style="background-color: green; ">Apply Changes</button>
            <button type="button" style="background-color: red;" [routerLink]="'/list'">Cancel</button>
        </div>

    </form>
</div>